@charset "utf-8";  

* { margin:0px; padding:0px; }

:root   {  
            --gray: #C2C8DA;
            --black:#000000;
            --white:#FFFFFF;
            --yelow:#EBD96B;
            --font-black:'ex_01';
            --font-medium:'ex_02';
            --font-regular:'ex_03';
        }



div#flexbox-item-a2 > a:hover { text-decoration:none; font-family:var(--font-medium); font-weight:bolder;   }
div#flexbox-item-a3 > a:hover { text-decoration:none; font-family:var(--font-medium); font-weight:bolder;   }
div#flexbox-item-a4 > a:hover { text-decoration:none; font-family:var(--font-medium); font-weight:bolder;   }
div#flexbox-item-a5 > a:hover { text-decoration:none; font-family:var(--font-medium); font-weight:bolder;   }

html { scroll-behavior:smooth; }

div#social-media-container > a:hover {  background-color: #C2C8DA; transition:0.7s;}
::-webkit-scrollbar { width: 8px;}

::-webkit-scrollbar-track {  background-color: black; }

::-webkit-scrollbar-thumb { background-color: #eb6b6b; border-radius: 40px; }
div#flexbox-item-a6 > a:hover { background-color: #EBD96B; color: #000000; transition:0.4s; }

