@charset "utf-8";  

* { margin:0px; padding:0px; }

:root   {  
            --gray: #C2C8DA;
            --black:#000000;
            --white:#FFFFFF;
            --yelow:#EBD96B;
            --font-black:'ex_01';
            --font-medium:'ex_02';
            --font-regular:'ex_03';
            --roboto-regular:'ex_04';
        }

@font-face { font-family:'ex_01'; src: url(/typography/Poppins/Poppins-Black.ttf) format(truetype);  }
@font-face { font-family:'ex_02'; src: url(/typography/Poppins/Poppins-Medium.ttf) format(truetype);  }
@font-face { font-family:'ex_03'; src: url(/typography/Poppins/Poppins-Regular.ttf) format(opentype);  }
@font-face { font-family:'ex_04'; src: url(/typography/roboto/Roboto-Regular.ttf) format(opentype);  }
        
 /*--------------------------------------------------------------------HEADER - MENU -------------------------------------------------------------------------------------------- */

section#flexbox-container-a { display:flex;  justify-content:space-between; height:62px; align-items:center; 
                                width:1720px; margin:auto;  margin-bottom:40px;  margin-top:40px; flex-wrap:nowrap; } 

    div#flexbox-item-a1 {  width:240px; height:38px; display:flex; justify-content: start; align-items:center;}

    div#flexbox-item-a2 {  width:180px; height:38px; display:flex; justify-content: center; align-items:center;}
        div#flexbox-item-a2 > a { text-decoration:none; font-family:var(--font-medium); color:var(--black); }

    div#flexbox-item-a3 {  width:180px; height:38px; display:flex; justify-content: center; align-items:center;}
        div#flexbox-item-a3 > a { text-decoration:none; font-family:var(--font-medium); color:var(--black); }

    div#flexbox-item-a4 {  width:180px; height:38px; display:flex; justify-content: center; align-items:center;}
        div#flexbox-item-a4 > a { text-decoration:none; font-family:var(--font-medium); color:var(--black); }

    div#flexbox-item-a5 {  width:180px; height:38px; display:flex; justify-content: center; align-items:center;}
        div#flexbox-item-a5 > a { text-decoration:none; font-family:var(--font-medium); color:var(--black); }

    div#flexbox-item-a6 {  width:180px; height:38px; display:flex; justify-content: center; align-items:center; }
            div#flexbox-item-a6 > a { width:120px; height:40px; border:1px solid white;  background-color:black; color:white; font-size:19.5px; align-items:center;
                                        font-family: var(--font-medium); border-radius:6px; text-decoration:none; display:flex; justify-content:center; 
                                    }
    
 /*-------------------------------------------------------------------------HEADER - BANNER ------------------------------------------------------------------------------------ */

section#flexbox-container-b { display:flex;  justify-content:center; height:870px; width:1720px; align-items:center; margin:auto; margin-top:40px;
                                background-image:url(/images/banner-01.png); background-size:contain; background-repeat: no-repeat; margin-bottom:40px;
                             } 

section#flexbox-container-b > img#vector-9 { position:relative; right:640px; top:280px; }

 /*------------------------------------------------------------------------------BRANDS---------------------------------------------------------------------------------------- */

section#flexbox-container-c { display:flex;  justify-content:space-around; height:186px; align-items:center; width:99.1vw; background-color: #EBD96B; 
                                margin-top:40px;  margin-bottom:40px;
                            } 

div#flexbox-item-c1 {  width:180px; height:120px; display:flex; justify-content: center; align-items:center;  }
    div#flexbox-item-c1 > img  { width:118.26; height:69.51; }

    div#flexbox-item-c2 {  width:218px; height:120px; display:flex; justify-content: center; align-items:center;  }
    div#flexbox-item-c3 {  width:218px; height:120px; display:flex; justify-content: center; align-items:center;  }
    div#flexbox-item-c4 {  width:218px; height:120px; display:flex; justify-content: center; align-items:center;  }
    div#flexbox-item-c5 {  width:218px; height:120px; display:flex; justify-content: center; align-items:center;  }
    div#flexbox-item-c6 {  width:218px; height:120px; display:flex; justify-content: center; align-items:center;  }

 /*----------------------------------------------------------------------------NEW ARRIVALS ------------------------------------------------------------------------------------ */

section#flexbox-container-d { display:flex;  justify-content:space-between; height:967px; width:1638px; margin:auto; align-items:end; 
                                margin-bottom:190px;  margin-top:40px; background-image:url(/images/New\ Arrivals.png); background-repeat:no-repeat; background-size:contain;
                            }

div#flexbox-item-d1 {  width:484px; height:76px; display:flex; flex-direction: column; justify-content: end; }
    div#flexbox-item-d1 > p { font-family:var(--font-regular); font-size:24px; letter-spacing:-1px; }
    div#flexbox-item-d1 > a { font-family:var(--font-regular); font-size:19px; color:#7F7F7F; text-decoration:none;  }


div#flexbox-item-d2 {  width:484px; height:75px; display:flex; flex-direction: column; justify-content: end; }
    div#flexbox-item-d2 > p { font-family:var(--font-regular); font-size:24px; letter-spacing:-1px; }
    div#flexbox-item-d2 > a { font-family:var(--font-regular); font-size:19px; color:#7F7F7F; text-decoration:none;  }

div#flexbox-item-d3 {  width:490px; height:77px; display:flex; flex-direction: column;  justify-content: end;}
    div#flexbox-item-d3 > p { font-family:var(--font-regular); font-size:24px; letter-spacing:-1px; }
    div#flexbox-item-d3 > a { font-family:var(--font-regular); font-size:19px; color:#7F7F7F; text-decoration:none;  }

 /*------------------------------------------------------------------------------PAYDAY--------------------------------------------------------------------------------------- */

section#flexbox-container-e { display:black;   height:968px; width:99vw; background-image:url(/images/Banner-payday.png);
                                margin-bottom:40px;  margin-top:40px; background-repeat:no-repeat; background-position-x: center; } 

 /*-------------------------------------------------------------------------Young's Favorite---------------------------------------------------------------------------------- */

section#flexbox-container-f { display:flex;  justify-content:space-between; height:847px; width:1720px; margin:auto; align-items:end; background-position-x:center;
                                 margin-bottom:40px; margin-top:40px; background-image:url(/images/Youngs\ Favourite.png); background-repeat:no-repeat; background-size:contain;
                            } 
div#flexbox-item-f1 {  width:835px; height:76px; display:flex; flex-direction: column;  justify-content: end; } 
    div#flexbox-item-f1 > p { font-family:var(--font-regular); font-size:24px; letter-spacing:-1px; }
    div#flexbox-item-f1 > a { font-family:var(--font-regular); font-size:19px; color:#7F7F7F; text-decoration:none;  }

div#flexbox-item-f2 {  width:835px; height:75px; display:flex; flex-direction: column; justify-content: end; } 
    div#flexbox-item-f2 > p { font-family:var(--font-regular); font-size:24px; letter-spacing:-1px; }
    div#flexbox-item-f2 > a { font-family:var(--font-regular); font-size:19px; color:#7F7F7F; text-decoration:none;  }

 /*-------------------------------------------------------------------------Download-------------------------------------------------------------------------------------------- */

section#flexbox-container-g {  display:flex;  height:710px; width:1483px; margin:auto; align-items:center; justify-content:start; 
                                margin-bottom:80px; margin-top:200px; background-image:url(/images/Vouchers.png); background-repeat:no-repeat; background-size:contain;
                               
                            } 

    div#flexbox-item-g1 {  width:168px; height:71px; display:flex; position:relative; top:140px; }
    div#flexbox-item-g1 > a >  img { width:168px; }
    div#flexbox-item-g2 {  width:168px; height:71px; display:flex;  margin:17px; position:relative; top:140px;}
    div#flexbox-item-g2 > a >  img { width:168px; }

 /*--------------------------------------------------------------------------Subscription---------------------------------------------------------------------------------------- */

section#flexbox-container-h { display:flex; height:619px; width:99.5vw;  align-items:center; background-repeat:no-repeat; margin-top:40px; align-items:center;
                              background-image:url(/images/baner-subcription.png); background-size:contain; justify-content:center; background-position-x:center; } 

div#flexbox-item-h1 {  width:770px; height:57px; display:flex; justify-content: center; align-items:center; position:relative; top:100px; left:62.5px; }
div#flexbox-item-h1 > form > input#iemail { border-radius:6px; height:57px; width:480px; border:1px solid transparent; font-size:19px; padding-left:20px; }
div#flexbox-item-h1 > form > input#submit { position:relative; right:130px; width:120px; height:50px; border:1px solid white; top:1px;
                                            background-color:black; color:white; font-size:20px; font-family: var(--font-medium); border-radius:6px; }

 /*---------------------------------------------------------------------------FOOTER-------------------------------------------------------------------------------------------- */

section#flexbox-container-i { display:flex; justify-content:space-around; height:450px; width:99.5vw; align-items:center; background-color:var(--black);   } 

div#flexbox-item-i1 {  width:415px; height:248.4px; display:flex; justify-content:flex-start; align-items:start; flex-direction:column; }
    div#flexbox-item-i1 > h1 { font-family: var(--font-black); color:var(--white); font-size:32px; margin-left:5px; }
    div#flexbox-item-i1 > p { font-family:var(--roboto-regular); color:#8E8E8E; font-size:18px; font-weight:200; margin-left:5px; line-height:32px;}

div#social-media-container { display:flex; flex-direction:row; position:relative; top:40px;   }
    div#social-media-container > a { width:40px; height:40px; background-color: #EBD96B; border-radius:6px; margin:5px; display:flex; justify-content:center; align-items:center;}
    div#social-media-container > a > img { width:22px; height:22px;}

div#flexbox-item-i2 {  width:200px; height:220px; display:flex; justify-content: center; align-items:center; }

div#flexbox-item-i3 {  width:200px; height:273px; display:flex; justify-content: center;  flex-direction: column; justify-content:space-around; align-items:flex-start;}
    div#flexbox-item-i3 > h3 { font-family:var(--roboto-regular); color:#D9D9D9; font-size:18px; font-weight:200; }
    div#flexbox-item-i3 > a { font-family:var(--roboto-regular); color:#8E8E8E; font-size:15px; font-weight:200; text-decoration:none; }

div#flexbox-item-i4 {  width:200px; height:273px; display:flex; justify-content: center; flex-direction: column; justify-content:space-around; align-items:flex-start; }
    div#flexbox-item-i4 > h3 { font-family:var(--roboto-regular); color:#D9D9D9; font-size:18px; font-weight:200;}
    div#flexbox-item-i4 > a { font-family:var(--roboto-regular); color:#8E8E8E; font-size:15px; font-weight:200; text-decoration:none; } 

div#flexbox-item-i5 {  width:200px; height:273px; display:flex; justify-content: center; flex-direction: column; justify-content:space-around; align-items:flex-start;}
    div#flexbox-item-i5 > h3 { font-family:var(--roboto-regular); color:#D9D9D9; font-size:16px; font-weight:200; }
    div#flexbox-item-i5 > a { font-family:var(--roboto-regular); color:#8E8E8E; font-size:15px; font-weight:200; text-decoration:none; } 